<!DOCTYPE html>
<html lang="en">
<head>
    <title>main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" type="text/css" href="style/main.css"/>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    <img class="image" src="assets/photos/1.jpg">

    <div class="grid-container">
        <p class="medium grid-item one">In the</p>
        <p class="bold grid-item two">quiet</p>
        <p class="light grid-item three">hummmmm</p>
        <p class="bold grid-item four">of</p>
        <p class="medium grid-item five">morning.</p>
    </div>

    <!-- Navigation Bar -->
    <a class ="train"><img class="train" src="assets/photos/train.png"></a>

    <nav class="subway-nav">
        <a class ="stop-1" href="index.html"><img class="stop" src="assets/photos/stop-1.png"></a>
        <a class ="stop-2" href="page-2/index.html"><img class="stop" src="assets/photos/stop-2.png"></a>
        <a class ="stop-3" href="page-3/index.html"><img class="stop" src="assets/photos/stop-3.png"></a>
        <a class ="stop-4" href="page-4/index.html"><img class="stop" src="assets/photos/stop-4.png"></a>
        <a class ="stop-5" href="page-5/index.html"><img class="stop" src="assets/photos/stop-5.png"></a>
        <a class ="stop-6" href="page-6/index.html"><img class="stop" src="assets/photos/stop-6.png"></a>
        <a class ="stop-7" href="page-7/index.html"><img class="stop" src="assets/photos/stop-7.png"></a>
        <a class ="stop-8" href="page-8/index.html"><img class="stop" src="assets/photos/stop-8.png"></a>
        <a class ="stop-9" href="page-9/index.html"><img class="stop" src="assets/photos/stop-9.png"></a>
        <a class ="stop-10" href="page-10/index.html"><img class="stop" src="assets/photos/stop-10.png"></a>
        <a class ="stop-11" href="page-11/index.html"><img class="stop" src="assets/photos/stop-11.png"></a>
    </nav>
</body>
</html>