body{
    overflow: hidden;
    background-image: url('../../assets/photos/7.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: absolute;
}

.subway-nav {
    transform: translate(-51.5%, 5%);
}

.train {
    position: fixed;
    transform: translate(460%, 235%);
    min-width: 6%;
    height: 18%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(26, 0.25fr); 
    gap: 10px; 
    justify-content: center;
    align-content: center;
    transform: translateY(50%);
}

.white {
    color: white;
}

.grid-item {
    padding: 5px;
    border-radius: 5px;
}

.one{
    transform: translate(3%, 190px);
}

.two {
    letter-spacing: 20px;
    transform: translate(15%, 100px);
}

.three {
    letter-spacing: 3px;
    transform: translate(25%, 220px);
}

.four{
    transform: translate(65%, 300px);
}

.five-1 {
    transform: translate(48%, 395px);
    filter: blur(1px);
    font-size: 16pt;}

.five-2 {
    transform: translate(43%, 370px);
    filter: blur(1px);
    font-size: 16pt;}

.five-3 {
    transform: translate(45%, 340px);
    filter: blur(1px);
    font-size: 16pt;}

.five-4 {
    transform: translate(41%, 320px);
    filter: blur(1px);
    font-size: 16pt;
}

.six {
    transform: translate(60%, 300px);
    letter-spacing: 5px;
}