.medium {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
  }

  .bold {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  .light {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
  }
  
  .h-center {
    text-align: center;
  }